html,
body {
  height: 100%;

}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #C2DED1;
  color: #354259;
}
.h3{
  font-size: 3rem;
}

.form-signin {
  max-width: 400px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.top{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

}

.bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.middle{
border-radius: 0;
}

.img-fluid{
  min-width: 150px;

}
.fw-normal{
  padding-top:30px;
}

#footBase{
  color: #878787;
  text-align: center;
  padding-top: 20px;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  tab-size: 20%;

}
#footBase:hover{
  transform: rotateY(180deg);
}
